{% load static from staticfiles %}

<!doctype html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {# <script src="{% static "csrf.js" %}"></script> #}
    <link rel="icon" type="image/png" href="{% static "favicon.ico" %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RPSSL</title>

<style type="text/css">
body {
    background: slategray !important;
}
wrapper {
    min-height:100vh;
}
</style>
</head>

<body>
<center>
<wrapper class="d-flex flex-column">
<div class="container-fluid py-3 flex-fill">
    <div class="rounded bg-light p-2 m-2" style="max-width: 56rem;">
        <h1>RPSSL</h1>
        <h5>Rock, Paper, Scissors, Spock, Lizard</h5>
        <a href="/" class="btn btn-primary">Home</a>
        {# {% if user.pk %} #}
        {% if user.is_authenticated %}
            <a href="/logout" class="btn btn-primary">Logout</a>
            Hello, <b>{{ user.username }}</b>.
        {% else %}
            <a href="/login" class="btn btn-primary">Login</a>
            <a href="/register" class="btn btn-primary">Register</a>
            Hello, <b>Guest</b>.
        {% endif %}
    </div>
    <div class="card card-body bg-light m-2" style="max-width: 48rem;">
        {% block content %}{% endblock %}
        <noscript>RPSSL requires Javascript and Cookies to be enabled in order to function.</noscript>
    </div>
</div>

<footer class="container-fluid bg-light w-100">
Created by <a href="https://www.linkedin.com/in/nathan-murrow/">Nathan Murrow</a> | <a class="btn-github" href="https://github.com/murrown/rpssl">Github Repository</a>
</footer>
</wrapper>

</body>
