{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}

<span id="static" style="display:none">{% static "" %}</span>

<div id="quizform" style="display:inline-block">
    <h5 id="quizlist_title">Game</h5>
    <div id="maincard" class="card card-body text-white bg-primary" style="min-height: 20rem; max-width: 48rem;">
        <center>
        <div id="answeryesno" class="p-3" style="display:inline-block">
            Make a choice.
            <br>
            <button id="rockbtn" class="btn border btn-success btn-lg m-3">Rock</button>
            <button id="paperbtn" class="btn border btn-success btn-lg m-3">Paper</button>
            <button id="scissorsbtn" class="btn border btn-success btn-lg m-3">Scissors</button>
            <button id="spockbtn" class="btn border btn-success btn-lg m-3">Spock</button>
            <button id="lizardbtn" class="btn border btn-success btn-lg m-3">Lizard</button>
        </div>
        <div id="results" class="card card-body text-white p-3 m-3" style="max-width: 36rem; display:none">
            <h4 id="results_text"></h4>
            <div id="player_choice" class="card card-body bg-secondary text-white p-3 m-3" style="min-width: 12rem; display:inline-block">
                You chose:
                <div id="player_choice_text"></div>
            </div>
            <div id="computer_choice" class="card card-body bg-secondary text-white p-3 m-3" style="min-width: 12rem; display:inline-block">
                Your opponent chose:
                <div id="computer_choice_text"></div>
            </div>
        </div>
        <div id="continue" style="display:none">
            <button id="continuebtn" class="btn border btn-secondary btn-lg">Continue</button>
        </div>
    </div>
</div>

<script src="{% static "quiz.js" %}"></script>
{% endblock %}
